.logo {
  font-size: clamp(1rem, 2vw + 0.5rem, 2rem); /* Responsive text size */
  font-weight: bold;
  color: var(--text-color-primary);
  line-height: 1;
  margin: 0;
  padding: 0;
  text-decoration: none;

  h1 {
    margin: 0;
    padding: 0;
    user-select: none;
  }
}