.PostList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid var(--input-border);
    text-decoration: none;
}

.right {
    width: auto;
    min-width: 150px;
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.left {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.postDetails {
    display: flex;
    align-items: center;
    gap: 8px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
    gap: 1rem;
    margin-top: 1rem;
    height: 100%;
}

.bottom {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.image {
    width: 100%;
    max-width: 10rem;
    height: 5rem !important;
    /* max-height: 5rem; */
    object-fit: cover;
    border-radius: var(--radius-md);
}