.LargeText {
    font-size: var(--font-size-lg);
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

@media (max-width: 882px) {
    .LargeText {
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-align: center;
    }
}