.SmallText {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

@media (max-width: 882px) {
    .SmallText {
        /* font-size: 0.9rem;
        line-height: 1.4rem; */
        text-align: center;
    }
}