.page {
    width: 100%;
    height: 100%;
}

.profilePictureContainer {
    width: 100%;
    height: 300px;
    position: relative;

    .backgroundImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .profileImage {
        position: absolute;
        bottom: -50px;
        left: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: var(--shadow-md);
    }
}

.profileInfo {
    margin-top: 2rem;
    padding: 20px;
    background-color: var(--background-light);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-lg);
    display: flex;
    width: 50%;

    .mainInfo {
        margin-right: 20px;
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }

    .buttonContainer {
        display: flex;
        width: 50%;
    }
}

.postsSection {
    padding: 20px;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.actionButtons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}