.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--nav-bg);
    position: sticky;
    top: 0;
    z-index: 1;
    height: var(--nav-height);
    border-bottom: 1px solid var(--input-border);
    /* max-width: max-content; */
}

.right {
    display: flex;
    /* width: 50%; */
    align-items: center;
    justify-content: flex-end;
    gap: 1.4rem;
    padding-right: 1rem;
    /* flex-shrink: 0; */
}

.left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    gap: 1.4rem;
    height: 100%;
}

.newPostLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.notificationIcon {
    cursor: pointer;
}

@media (max-width: 888px) {
    .Write {
        display: none;
    }
}