.commentBox {
    background-color: var(--nav-bg);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    padding: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 50vh;
    cursor: default !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: x-large;
    font-weight: bold;
    border-bottom: 1px solid var(--button-border-secondary);
    flex-shrink: 0;

    button {
        padding: 0.6rem;
        border-radius: var(--radius-lg);
        border: 1px solid var(--button-border-secondary);
        color: var(--button-text-color);
        background-color: var(--button-bg-primary);
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 1rem;
    gap: 0.5rem;
    align-items: stretch;
    justify-content: flex-start;
}

.commentForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    width: 100%;
    border-top: 1px solid var(--button-border-secondary);
    flex-shrink: 0;
}

.nocomment {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}