.LargeText {
    font-size: var(--font-size-large);
    color: var(--text-color-primary);
    line-height: 1.5;
    font-family: var(--font-family-sans);
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}
